  <div class="card">
    <div class="card-img-wrapper">
      <img class="card-img-top" src="{{user.photoUrl || '../../../assets/user.png'}}" alt="{{user?.knownAS}}">
      <ul class="list-inline member-icons animate text-center">
        <li class="list-inline-item"><button class="btn btn-primary" [routerLink]="['/members/', user?.id]" ><i class="fa fa-user" aria-hidden="true"></i></button></li>
        <li class="list-inline-item"><button class="btn btn-primary" (click)="sendLike(user.id)"><i class="fa fa-heart" aria-hidden="true"></i></button></li>
        <li class="list-inline-item" [routerLink]="['/members/', user?.id]" [queryParams]="{tab: 3}"><button class="btn btn-primary"><i class="fa fa-envelope" aria-hidden="true"></i></button></li>
      </ul>
    </div>
    <div class="card-body p1">
      <h6 class="card-title text-center mb-1"><i class="fa fa-user" aria-hidden="true"></i>
        {{user?.knownAS}}, {{user?.age}}
      </h6>
      <p class="card-text text-muted tect-center">{{user.city}}</p>
    </div>
  </div>

